@font-face {
  font-family: MyFont;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
*{
  box-sizing: border-box;
}
body{
  font-family:MyFont;
  display: flex;
 background-color:  hsl(234, 29%, 20%);;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
.container{
  display: flex;
  width: 800px;
  background-color:  hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 20px;

}
.left{
  width: 60%;
}
.right{
  width: 40%;
}
.right img{
  width: 100%;
}
ul {

  list-style-image: url(./assets/images/icon-list.svg);
  /* width: 30px; */
 /* list-style-position:; */
}
li {
  margin-bottom: 10px;

}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
label {
  margin-bottom: 10px;
  color: black;
  font-size: small;
}
input {
  padding: 10px 20px;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  border: 1px solid hsl(231, 7%, 60%);
}
button {
  font-family: inherit;
  margin-top: 20px;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(235, 18%, 26%);
}
button:hover {
  background-color: hsl(4, 100%, 67%);
  transition: all 1s;
}
h1 {
  font-size: 50px;
  color: hsl(234, 29%, 20%);
}
.hide {
  display: none;}
  .container-2 {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
  }
 
  .container-2 h1 {
    font-size: 40px;
  }
  .icon-container-2 {
    width: 50px;
  }
  .container-2 button {
    width: 100%;
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column-reverse;
      width: 95%;
      padding: 0;
    }
    body {
      padding: 0;
      margin: 0;
    }
    .container h1 {
      font-size: 30px;
    }
    .left {
      width: 100%;
      padding: 20px;
    }
    .right {
      width: 100%;
    }
    .right img {
      content: url("./assets/images/illustration-sign-up-mobile.svg");
    }
    form {
      width: 90%;
    }
    .container-2 {
      min-height: 100vh;
    }
  }
  #label{
 color: aqua;
 margin-left: 50%;
 display: inline-block;
 margin-top: -25px;
 color:hsl(4, 100%, 67%) ;
 display: none;
  }
